<% include header %>
<form action="/login" method="post" >
<input type="text" name="username" value="" class="form-control" placeholder="username" required autofocus> 
<input type="password" name="password" class="form-control" placeholder="password" required autofocus> 
<input type="submit" value='Login' class="btn btn-info"> 
</form>
<% include footer %>